/* Top Headers */

.topheader {
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 20px;
}
.subheader {
        text-align: center;
        font-weight: lighter;
        font-size: 27px;
        margin-bottom: 20px;    
}
.webindevelop {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 20px;
}

/* Top Navigation */
.topnavigation ul {
    list-style: none;
    background-color:white;
    text-align: center;
    padding: 0;
    margin: 20px;
}
.topnavigation li {
    display: inline-block;
}
.topnavigation a {
    color: green;
    width: 110px;
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
    font-weight: bolder;
    margin-bottom: 20px;
}

/* Team Member */
.team-member .rounded-img {
    width: 14rem;
    height: 14rem;
    border:0.5rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.team-name {
    font-size: 24px;
    margin:24px;
    margin-top: 1.5rem;
    margin-bottom: 0;
}


element.style {
}
.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.rounded-circle {
    border-radius: 50% !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
img, svg {
    vertical-align: middle;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.team-member {
    margin-bottom: 3rem;
    text-align: center;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
body {
    margin: 0;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc800;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #ffc800;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc800;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}