/* Top Headers */

.topheader {
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 20px;
}
.subheader {
        text-align: center;
        font-weight: lighter;
        font-size: 27px;
        margin-bottom: 20px;    
}
.webindevelop {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 20px;
}

/* Top Navigation */
.topnavigation ul {
    list-style: none;
    background-color:white;
    text-align: center;
    padding: 0;
    margin: 20px;
}
.topnavigation li {
    display: inline-block;
}
.topnavigation a {
    color: green;
    width: 110px;
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
    font-weight: bolder;
    margin-bottom: 20px;
}

/* Team Member */
.team-members .rounded-img {
    width: 14rem;
    height: 14rem;
    border:0.5rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.team-name {
    font-size: 24px;
    margin:24px;
    margin-top: 1.5rem;
    margin-bottom: 0;
}